<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<h1>LOREM IPSUM by MICHAEL&RAFAEL</h1>
<div>
    <form action="/result">
        <div><input class="number" value="1" type="number" name="number"></div>
        <br>
        <div>
            <select class="number" name="type">
                <option>Paragraphs</option>
                <option>Sentences</option>
                <option>Words</option>
            </select>
        </div>
        <br>
        <input type="submit" value="GENERATE!" class="button">
    </form>
</div>


</body>
</html>
